@model Comic

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div>
        <p>
            <a asp-controller="Comics" asp-action="Find">
                Volver
            </a>
        </p>

        <div class="card">
            <img src="@Model.Imagen" class="card-img-top" alt="..." style="width: 407px; height: 550px;">
            <div class="card-body">
                <h5 class="card-title">@Model.Nombre</h5>
                <p class="card-text">@Model.Descripcion</p>
                <p class="card-text">ID: @Model.IdComic</p>
            </div>
        </div>
    </div>
</div>
